body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.well.well-condensed {
    padding: 10px;
}

.errorlist {
    list-style: none;
    color: #b94a48;
    background-color: #f2dede;
    border-radius: 4px;
}
    ul.errorlist, ul.errorlist li {
        padding-left: 0px;
        margin-left: 0px;
    }
    ul.errorlist li {
        padding: 8px 35px 8px 14px;

    }

.help-inline {
    font-size: smaller;
    color: #999;
    padding-left: 0px;
}

.alert > :last-child {
    margin-bottom: 0;
}
