/** Commons & typo
*/
body {
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1.0em;
}

h3 {
    font-size: 1.0em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1.0em;
}

.well {
    background-color: #f9f9f9;
}

.well.well-condensed {
    padding: 10px;
}

/** Errors & alerts
*/
.errorlist {
    list-style: none;
    color: #b94a48;
    background-color: #f2dede;
    border-radius: 4px;
}
    ul.errorlist, ul.errorlist li {
        padding-left: 0px;
        margin-left: 0px;
    }
    ul.errorlist li {
        padding: 8px 35px 8px 14px;

    }

.alert > :last-child {
    margin-bottom: 0;
}

/** Branding
*/
#branding {
    position: relative    
}
    #branding .logo,
    #branding .title {
        display: inline-block;
    }
        #branding .logo img {
            margin-right: 2em;
        }
    #branding .title {
        font-size: 1.5em;
        line-height: 1.8em;
    }
        #branding .title a {
            text-decoration: none !important;
        }
