{% extends "brillixy/base.html" %}
{% load i18n %}

{% block breadcrumbs-title %}
    <li><span class="divider">/</span> <strong>{{ title }}</strong></li>
{% endblock %}

{% block content_title %}
{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}brillixy/css/changeform.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="change-password">
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="row">
            <div class="span7">
                {% include "brillixy/_form.html" %}

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success"><i class="icon-ok"></i> {% trans 'Change password' %}</button>
                        <a href="../" class="btn"><i class="icon-ban-circle"></i> {% trans 'Cancel' %}</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>
</div>
{% endblock %}