{% extends "brillixy/base.html" %}
{% load i18n %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}brillixy/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
    <div class="row">
    {% for panel in panels %}
        {% if panel.has_perm %}
        <div class="span{{ panel.span|default:6 }} panel{% if panel.styles %} {{ panel.styles }}{% endif %}">
            {% if panel.title %}
                <h2>{{ panel.title }}</h2>
            {% endif %}
            {% include panel.template with panel=panel %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
