{% extends "brillixy/base.html" %}
{% load i18n %}

{% block breadcrumbs-title %}
    <li><span class="divider">/</span> <strong>{% trans 'Password change' %}</strong></li>
{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}brillixy/css/changeform.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="change-password">
    <div class="alert">
        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
    </div>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="row">
            <div class="span7">
                {% include "brillixy/_form.html" %}

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success"><i class="icon-ok"></i> {% trans 'Change my password' %}</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>
</div>
{% endblock %}