<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>

    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <!-- Messages -->
    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content">
        <div class="container">
        {% block pretitle %}{% endblock %}
        
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        
        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}

        {% block sidebar %}{% endblock %}
        </div>
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</body>

</html>
