<!DOCTYPE html>
<html>
<head>
{% load adminkittags i18n %}
{% load url from future %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>

    <link href="{{ STATIC_URL }}adminkit/css/common.css" rel="stylesheet" type="text/css" />

    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    {% if not is_popup %}
        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <div id="branding" class="span3" style="position: relative">
                        {% block branding %}
                            <a href="{% url 'admin:index' %}"><img src="{% branding_logo %}"></a>
                            {#<a href="#"><span class="badge" style="position: absolute; left: 50%; top: 80%">{% branding_title %}</span></a>#}
                        {% endblock %}
                    </div>
                    <div class="span5">
                        {% block nav-global %}{% endblock %}
                    </div>
                    <div class="span4">
                        {% if user.is_active and user.is_staff %}
                        <div id="user-tools" class="pull-right">
                            {% trans 'Welcome,' %}
                            <strong>{% filter force_escape %}{{ user|user_nice_name }}{% endfilter %}</strong>.

                            {% block userlinks %}
                                <div>
                                {% url 'django-admindocs-docroot' as docsroot %}
                                {% if docsroot %}
                                    <a href="{{ docsroot }}" class="btn">{% trans 'Documentation' %}</a>
                                {% endif %}

                                {% if user.has_usable_password %}
                                    <a href="{% url 'admin:password_change' %}" class="btn btn-small">{% trans 'Change password' %}</a>
                                {% endif %}

                                <a href="{% url 'admin:logout' %}" class="btn btn-small">{% trans 'Log out' %}</a>
                                </div>
                            {% endblock %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>

            <!-- Breadcrumbs -->
            {% block breadcrumbs %}
            <div class="container">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'admin:index' %}" class="btn btn-primary"><i class="icon icon-white icon-list"></i> {% trans 'Home' %}</a>
                    </li>
                    {% if title %}
                    <li><span class="divider">/</span> <strong>{{ title }}</strong></li>
                    {% endif %}
                </ul>
            </div>
            {% endblock %}

        </div>
        <!-- END Header -->
    {% endif %}

    <!-- Messages -->
    {% block messages %}
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <a class="close" data-dismiss="alert">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock messages %}
    <!-- END Messages -->

    <!-- Content -->
    <div id="content">
        <div class="container">
        {% block pretitle %}{% endblock %}
        
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        
        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}

        {% block sidebar %}{% endblock %}
        </div>
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</body>

</html>
